.page-not-found{
    padding: 140px 24px 160px;
    overflow: hidden;
    background-color: var(--main);
    height: 600px;
}

.page-not-found-container{
    text-align: center;
    margin: auto;
    height: 100%;
    max-width: 1140px;
}

.page-not-found h1{
    font-size: var(--title_size);
    font-weight: 700;
    margin-bottom: 34px;
    color: var(--dark_primary);
}

.page-not-found h2{
    font-size: var(--subtitle_size);
    font-weight: 400;
    margin-bottom: 24px;
    color: var(--dark_primary);
}