.hero{
    padding: 140px 24px 160px;
    overflow: hidden;
    background-color: var(--primary);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 100%;
    max-width: 1140px;
  }

.left_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left_container h1{
    font-size: var(--title_size);
    font-weight: 700;
    margin-bottom: 34px;
    color: var(--submain);
}

.left_container h2{
    font-size: var(--subtitle_size);
    font-weight: 400;
    margin-bottom: 34px;
    color: var(--submain);
}

.hero_photo{
    width: 440px;
    height: auto;
    border-radius: 25px;
}