.avtaler{
    padding: 140px 24px 160px;
    overflow: hidden;
    background-color: var(--primary);
    height: 1000px;
}

.avtaler_container{
    display: grid;
    place-items: center;
    margin: auto;
    height: 100%;
    max-width: 1140px;
}

.avtaler h1{
    font-size: var(--title_size);
    font-weight: 700;
    margin-bottom: 34px;
    color: var(--submain);
}

.avtaler h2{
    font-size: var(--subtitle_size);
    font-weight: 400;
    margin-bottom: 34px;
    color: var(--submain);
}
